header{
    background-color: pink;
}
img.logo{
    height: 100px;
    width: 100px;
    padding-top: 20px;
}
h1.name{
    color: rgb(255, 0, 170);
    display: inline;
    font-style: oblique;
}
ul.nav{
    background-color: rgb(255, 0, 170);
    margin-top: 0;
    padding: 20px;
    
}
li {
    display: inline;
    margin-right: 12%;
}
li a{
    text-decoration: none;
    margin: 20px;
    color: white;
}
li:hover{
    background-color: rgb(120, 6, 44);
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
body{
    background-color: lightblue;
}

footer{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    padding: 3px;
    background-color: rgb(255, 0, 170);
    color: white;
    margin-bottom: 0%;
    margin-top: auto;
}